Repository pulsate-dev/pulsate.dev: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check

lint:
  run: bun run lint

check:
  run: bun run check

feat: add community section
  pages/index.en.mdx
  pages/index.ja.mdx
Due: lint

feat: add Discord Community Information
  pages/community/_meta.en.json
  pages/community/_meta.ja.json
  pages/community/discord.en.mdx
  pages/community/discord.ja.mdx
  public/image/community/discord/discord-channels-and-roles.jpg
  public/image/community/discord/discord-notifications-panel-en.jpg
  public/image/community/discord/discord-notifications-panel-ja.jpg
Due: lint

feat: add page view restrictions
  pages/_meta.en.json
  pages/_meta.ja.json
  pages/community/discord.en.mdx
  pages/community/discord.ja.mdx
  pages/docs/introduction.en.mdx
  pages/docs/introduction.ja.mdx
  pages/guide/introduction.en.mdx
  pages/guide/introduction.ja.mdx
  pages/index.en.mdx
  pages/index.ja.mdx
Due: lint

feat: add roadmap banner
  pages/roadmap.en.mdx
  theme.config.tsx
Due: lint, check

chore: Merging content community page
  pages/community/_meta.en.json
  pages/community/_meta.ja.json
  pages/community/about.en.mdx
  pages/community/about.ja.mdx
  pages/community/discord.en.mdx
  pages/community/discord.ja.mdx
  pages/community/project/_meta.en.json
  pages/community/project/_meta.ja.json
  pages/community/project/about.en.mdx
  pages/community/project/about.ja.mdx
  pages/community/project/manifest.en.mdx
  pages/community/project/manifest.ja.mdx
  pages/community/team.en.mdx
  pages/community/team.ja.mdx
Due: lint

refactor: Remove unused page
  pages/404.en.mdx
  pages/404.ja.mdx
  pages/_meta.en.json
  pages/_meta.ja.json
  pages/docs/_meta.en.json
  pages/docs/_meta.ja.json
  pages/docs/introduction.en.mdx
  pages/docs/introduction.ja.mdx
  pages/guide/_meta.en.json
  pages/guide/_meta.ja.json
  pages/guide/introduction.en.mdx
  pages/guide/introduction.ja.mdx
  pages/index.en.mdx
  pages/index.ja.mdx
Due: lint

feat: Move project roadmap to GitHub Projects
  pages/_meta.en.json
  pages/_meta.ja.json
  pages/index.en.mdx
  pages/index.ja.mdx
  pages/roadmap.ja.mdx
  public/image/community/discord/discord-channels-and-roles.jpg
  public/image/community/discord/discord-notifications-panel-en.jpg
  public/image/community/discord/discord-notifications-panel-ja.jpg
Due: lint

chore: fix metadata
  README.md
  package.json
  theme.config.tsx
Due: lint, check

feat: add `TranslationCallout`
  components/README.md
  components/molecules/TranslationCallout.tsx
  pages/roadmap.en.mdx
Due: lint, check

docs: update translation info
  CONTRIBUTING.md
Due: none

ci: fix assign workflow
  .github/workflows/pr.yaml
Due: none

deps: add `@kuma-ui/core` and `@kuma-ui/next-plugin`
  package.json
  pnpm-lock.yaml
Due: none

chore: add KumaUI configuration
  next.config.js
Due: lint, check

refactor: replace KumaUI
  components/molecules/TranslationCallout.tsx
Due: lint, check

docs: add KumaUI reference to Contributing
  CONTRIBUTING.md
  components/README.md
  components/atoms/.gitkeep
  components/molecules/.gitkeep
  components/organisms/.gitkeep
  pages/_meta.en.json
Due: none

fix: dependecies
  pnpm-lock.yaml
Due: none

chore: replace top-page
  pages/_meta.en.json
  pages/_meta.ja.json
  pages/index.en.mdx
  pages/index.ja.mdx
Due: lint

ci: work on branches other than `main`
  .github/workflows/build.yaml
Due: none

feat: add translation data
  components/atoms/PulsateHome.tsx
  components/i18n/PulsateHome.ts
Due: lint, check

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx,mdx}
  check: any of: *.{js,ts,jsx,tsx}
